{
	"DatabaseSettings": {
		"ConnectionString": "Host=localhost;Database=postgres;Username=postgres;Password=coolpassword",
		"HangfireString": "Host=localhost;Database=postgres;Username=postgres;Password=coolpassword",
		"PositionDaysToKeep": 90
	}
}